$main-font: 'Gilroy', sans-serif;

// colors 
$black: #070707;
$black-opacity: rgba(7, 7, 7, 0.85);
$gray: #828282;
$mercury: #E5E5E5;
$wild-sand:#F6F6F6;
$wild-sand-opacity: rgba(246, 246, 246, 0.99);
$white: #FFFFFF;
$pomegranade: #EB3617;
$malachite: #03BC3C;
$blue: #3454F5;
$orange: #eb781b;
$light-blue: #C5DBF1;
$red: #E46868;
$super-light: #EFF7FF;
$dark-blue: #112652;
$yellow: #eeee24;