<div class="slider">
  <div class="slider__wrapper">
    <div class="slider__inner-wrapper">
      <div class="slider__slide" style="background-image: url(/static/images/man-and-woman.jpg);">
        <span>Disappointment in bed no more!</span>
      </div>
      <div class="slider__slide" style="background-image: url(/static/images/date.jpg);">
        <span>Feel more confident on a date.</span> 
      </div>
      <div class="slider__slide" style="background-image: url(/static/images/old-man.jpg);">
        <span>The age doesn't matter. It works!</span>
      </div>
      <div class="slider__slide" style="background-image: url(/static/images/delighted-couple.jpg);">
        <span>Long-lasting bed performance will improve relationships.</span>
      </div>
    </div>
  </div>
  <div class="slider__nav">
    <button class="slider__arrow slider__arrow--prev">V</button>
    <div>
      <div class="slider__buttons"></div>
    </div>
    <button class="slider__arrow slider__arrow--next">V</button>
  </div>
</div>

